@page
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@{
    Layout = "_Layout";
    ViewData["Title"] = "Signed Out";
}
<div class="container mt-4">
    <h2>You have signed out of this application.</h2>
    <p><a class="btn btn-primary" href="/">Return to Home</a></p>
</div>