@using System.Security.Claims
@{
    var isAuth = User?.Identity?.IsAuthenticated ?? false;
}
<div class="d-flex align-items-center gap-2">
@if (isAuth)
{
    <span class="text-white-50">Hello, @User.Identity!.Name</span>
    @if (User.IsInRole("Translator.Admin"))
    {
        <span class="badge text-bg-warning">Admin</span>
    }
    <a class="btn btn-sm btn-outline-light" href="/signout">Sign out</a>
}
else
{
    <a class="btn btn-sm btn-light" href="/signin">Sign in</a>
}
</div>