@{
    var isAuth = User?.Identity?.IsAuthenticated ?? false;
    var name = User?.Identity?.Name ?? "(user)";
}
<div class="d-flex align-items-center gap-2">
@if (isAuth)
{
    <span class="text-white-50">Hello, @name</span>
    <a class="btn btn-sm btn-outline-light" href="/signout">Sign out</a>
}
else
{
    <a class="btn btn-sm btn-light" href="/signin">Sign in</a>
}
</div>